{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    
    {% if user.is_authenticated %}
    <h5>My Topics:</h5>
        <ul class="list-group border-bottom pb-4 mb-4 pt-2">
            {% for topic in topics %}
                <li class="list-group-item">
                    <h3>
                        <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
                    </h3>    
                </li>
            {% empty %}
                <li class="list-group-item"><h3>No topics have been added yet.</h3></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h5>Public Topics:</h5>
    <ul class="list-group border-bottom pb-4 pt-2 mb-4">
        {% for topic in public_topics %}
            <li class="list-group-item">
                <h3>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
                </h3>    
            </li>
        {% empty %}
            <li class="list-group-item"><h3>No user have posted any public topics yet.</h3></li>
        {% endfor %}
    </ul>

    
    <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>
    

{% endblock content %}